 .u-section-1 {
  background-image: url("images/frame_08_delay-0.09s.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-1 .u-text-1 {
  text-shadow: 3px 3px 13px rgba(0,0,0,0.25);
  font-family: DotGothic16;
  font-weight: 700;
  font-size: 6rem;
  margin: 154px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  letter-spacing: 5px;
  font-family: DotGothic16;
  font-weight: 700;
  width: 489px;
  margin: 15px auto 0;
}

.u-section-1 .u-group-1 {
  width: 592px;
  min-height: 81px;
  height: auto;
  margin: 43px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 33px;
  padding: 14px 40px 15px 38px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.125rem;
  background-image: none;
  text-transform: uppercase;
  box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.4);
  margin: -58px 35px 0 auto;
  padding: 14px 43px 15px 42px;
}

.u-section-1 .u-image-1 {
  height: 391px;
  width: 391px;
  margin: 182px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 641px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-1 .u-group-1 {
    min-height: 78px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-left: 4px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 278px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    min-height: 144px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: auto;
    padding-right: 61px;
    padding-left: 60px;
  }

  .u-section-1 .u-image-1 {
    height: 201px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 585px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 577px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  font-family: ABeeZee;
  font-weight: 700;
  margin: 71px auto 0 156px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 577px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 227px;
  height: 227px;
  background-image: url("images/milad-fakurian-wNsHBf_bTBo-unsplash.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  width: 189px;
  margin: 36px auto 0;
}

.u-section-2 .u-line-1 {
  width: 198px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 23px auto 0;
}

.u-section-2 .u-text-3 {
  width: 291px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 476px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 127px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 476px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 95px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 92px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 636px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 26px 30px 0;
}

.u-section-3 .u-text-1 {
  text-shadow: 3px 3px 9px rgba(0,0,0,0.4);
  font-size: 4.5rem;
  font-family: ABeeZee;
  margin: 28px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  letter-spacing: 5px;
  font-weight: 700;
  font-family: ABeeZee;
  margin: 0 29px 0 0;
}

.u-section-3 .u-text-3 {
  text-shadow: 1px 1px 11px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  margin: 134px 266px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.4;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  margin: 20px 71px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 652px;
  width: 670px;
  margin: 95px auto -111px -65px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 75px;
    margin-left: 4px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 34px;
    margin-left: 4px;
    width: 354px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-3 .u-image-1 {
    height: 503px;
    width: 517px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 55px;
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    width: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-image-1 {
    height: 385px;
    width: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 291px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 10px;
    width: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 15px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
    margin-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: 298px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-3 .u-image-1 {
    height: 331px;
    width: 340px;
  }
}